---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
---

<>
	<table>
		<Heading Emoji="🌼" Text="Vanilla" />

		<Row
			Package={new Set([
				"GitHub:CodeEditorLand/Editor",
				"GitHub:Microsoft/VSCode",
			])}
		/>
	</table>
</>
