---
import Heading from "@Component/Readme/Heading.astro";
import Row from "@Component/Readme/Row.astro";
import Table from "@Component/Readme/Table.astro";

const { Open } = Astro.props;
---

<>
	<Table {Open}>
		<Heading
			DarkIcon="HTTPS://PlayForm.LTD/Dark/Image/GitHub/Land.svg"
			LightIcon="HTTPS://PlayForm.LTD/Image/GitHub/Land.svg"
			Text="Land —"
		/>

		<Row
			Package={new Set([
				"GitHub:CodeEditorLand/Dependency",
				"GitHub:CodeEditorLand/Editor",
				"GitHub:CodeEditorLand/Land",
				"GitHub:CodeEditorLand/DependencyMicrosoftCargo",
				"GitHub:CodeEditorLand/DependencyMicrosoftNPM",
				"GitHub:CodeEditorLand/DependencyMicrosoftDependency",
			])}
		/>
	</Table>
</>
